<?xml version="1.0"?>
<config>
    <modules>
        <Petryk_News>
            <version>0.1.0</version>
        </Petryk_News>
    </modules>
    <global>
        <blocks>
            <petryk_news>
                <class>Petryk_News_Block</class>
            </petryk_news>
        </blocks>
        <helpers>
            <petryk_news>
                <class>Petryk_News_Helper</class>
            </petryk_news>
        </helpers>
        <models>
            <petryk_news>
                <class>Petryk_News_Model</class>
                <resourceModel>petryk_news_resource</resourceModel>
            </petryk_news>
            <petryk_news_resource>
                <class>Petryk_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>petryk_news</table>
                    </news>
                </entities>
            </petryk_news_resource>
        </models>
        <resources>
            <petryk_news_setup>
                <setup>
                    <module>Petryk_News</module>
                </setup>
            </petryk_news_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <petryk_news before="Mage_Adminhtml">Petryk_News_Adminhtml</petryk_news>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <petryk_news>
                    <file>petryk_news.xml</file>
                </petryk_news>
            </updates>
        </layout>
    </adminhtml>
</config>